version: '3.8'

services:
  # 1. Our Custom Node Backend
  backend:
    build: .  # Build the Dockerfile in the current directory
    ports:
      - "4000:4000"
    container_name: node-backend-container1

  # 2. Prometheus
  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - backend

  # 3. Grafana
  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus